# **3. Initial Characteristic Analysis**

Our objectives:
    1. Bin each predictor
    2. Obtain WOE for each bin (attribute) in characteristic
    3. Obtain IV for each characteristic

## **3.1 Characteristic Binning**

In [57]:
# Import library
import pandas as pd
import numpy as np

# Load configuration
import src.utils as utils

- We concat the predictors (X) & response (y) data for train set first
- Update the config file to have those concated data path.

In [58]:
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/credit_risk.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'response_variable': 'Status',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Income',
  'Emp_length',
  'Amount',
  'Rate',
  'Percent_income',
  'Cred_length'],
 'cat_columns': ['Home', 'Intent', 'Default'],
 'missing_columns': ['Emp_length_bin', 'Rate_bin'],
 'num_of_bins': 4}

In [59]:
def concat_data(type):
    """Concat the input (X) & output (y) data"""
    X = utils.pickle_load(config_data[f'{type}_path'][0])
    y = utils.pickle_load(config_data[f'{type}_path'][1])

    # Concatenate X & y
    data = pd.concat((X, y),
                    axis = 1)

    #Validate data
    print(f'Data shape:', data.shape)

    #Dump concatenated data
    utils.pickle_dump(data, config_data[f'data_{type}_path'])

    return data

In [60]:
#Check the function for train data
data_train = concat_data(type = 'train')
data_train.head()

Data shape: (22806, 11)

,Age,Income,Home,Emp_length,Intent,Amount,Rate,Percent_income,Default,Cred_length,Status
11491,26,62000,RENT,1.0,DEBTCONSOLIDATION,10000,11.26,0.16,N,2,0
3890,23,39000,MORTGAGE,3.0,EDUCATION,5000,12.98,0.13,N,4,0
17344,24,35000,RENT,1.0,DEBTCONSOLIDATION,12000,6.54,0.34,N,2,1
13023,24,86000,RENT,1.0,HOMEIMPROVEMENT,12000,10.65,0.14,N,3,0
29565,42,38400,RENT,4.0,MEDICAL,13000,NaN,0.34,N,11,1

1. Then we bin the concatenated data.
2. Update the config file to have:
    - The numerical column names
    - The categorical column names
    - The missing column names
    - The number of bins
    - The path for binned train set

In [61]:
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/credit_risk.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'response_variable': 'Status',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Income',
  'Emp_length',
  'Amount',
  'Rate',
  'Percent_income',
  'Cred_length'],
 'cat_columns': ['Home', 'Intent', 'Default'],
 'missing_columns': ['Emp_length_bin', 'Rate_bin'],
 'num_of_bins': 4}

In [62]:
# Create a function for binning the numerical predictor
def create_num_binning(data, predictor_label, num_of_bins):
    """Bin the numerical predictor"""
    # Create a new column containing the binned predictor
    data[predictor_label + "_bin"] = pd.qcut(data[predictor_label],
                                             q = num_of_bins)

    return data

In [63]:
def bin_data(type):
    """Bin the numerical and missing data"""
    # Load the concatenated data
    data = utils.pickle_load(config_data[f'data_{type}_path'])

    # Bin the numerical columns
    num_columns = config_data['num_columns']
    num_of_bins = config_data['num_of_bins']

    for column in num_columns:
        data_binned = create_num_binning(data = data,
                                         predictor_label = column,
                                         num_of_bins = num_of_bins)

    # Bin missing values
    missing_columns = config_data['missing_columns']

    for column in missing_columns:
        # Add category 'Missing' to replace the missing values
        data_binned[column] = (data_binned[column]
                                    .cat
                                    .add_categories('Missing'))

        # Replace missing values with category 'Missing'
        data_binned[column].fillna(value = 'Missing',
                                   inplace = True)

    # Validate
    print(f"Original data shape : ", data.shape)
    print(f"Binned data shape  : ", data_binned.shape)

    # Dump binned data
    utils.pickle_dump(data_binned, config_data[f'data_{type}_binned_path'])
        
    return data_binned

In [64]:
# Check the function
binned_train = bin_data(type='train')
binned_train.head()

Original data shape :  (22806, 18)
Binned data shape  :  (22806, 18)

,Age,Income,Home,Emp_length,Intent,Amount,Rate,Percent_income,Default,Cred_length,Status,Age_bin,Income_bin,Emp_length_bin,Amount_bin,Rate_bin,Percent_income_bin,Cred_length_bin
11491,26,62000,RENT,1.0,DEBTCONSOLIDATION,10000,11.26,0.16,N,2,0,"(23.0, 26.0]","(55000.0, 79635.0]","(-0.001, 2.0]","(8000.0, 12250.0]","(10.99, 13.47]","(0.15, 0.23]","(1.999, 3.0]"
3890,23,39000,MORTGAGE,3.0,EDUCATION,5000,12.98,0.13,N,4,0,"(19.999, 23.0]","(38524.75, 55000.0]","(2.0, 4.0]","(499.999, 5000.0]","(10.99, 13.47]","(0.09, 0.15]","(3.0, 4.0]"
17344,24,35000,RENT,1.0,DEBTCONSOLIDATION,12000,6.54,0.34,N,2,1,"(23.0, 26.0]","(3999.999, 38524.75]","(-0.001, 2.0]","(8000.0, 12250.0]","(5.419, 7.9]","(0.23, 0.83]","(1.999, 3.0]"
13023,24,86000,RENT,1.0,HOMEIMPROVEMENT,12000,10.65,0.14,N,3,0,"(23.0, 26.0]","(79635.0, 6000000.0]","(-0.001, 2.0]","(8000.0, 12250.0]","(7.9, 10.99]","(0.09, 0.15]","(1.999, 3.0]"
29565,42,38400,RENT,4.0,MEDICAL,13000,NaN,0.34,N,11,1,"(30.0, 144.0]","(3999.999, 38524.75]","(2.0, 4.0]","(12250.0, 35000.0]",Missing,"(0.23, 0.83]","(8.0, 30.0]"

### **3.2 WoE and IV**

To assess the strenght of each characteristic individually as a predictor of the credit performance.
Udapte the config file to have:
    - crosstab list path
    - WOE table path
    - IV table path

In [65]:
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/credit_risk.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'response_variable': 'Status',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Income',
  'Emp_length',
  'Amount',
  'Rate',
  'Percent_income',
  'Cred_length'],
 'cat_columns': ['Home', 'Intent', 'Default'],
 'missing_columns': ['Emp_length_bin', 'Rate_bin'],
 'num_of_bins': 4}

In [66]:
def create_crosstab_list():
    """Generate the crosstab list (contingency table) for WOE and IV calculation. Only in training data"""
    # load the binned train data
    data_train_binned = utils.pickle_load(config_data['data_train_binned_path'])

    # load the response variable (we will summarize based on the response variable)
    response_variable = config_data['response_variable']

    # iterate over numercial columns
    crosstab_num = []
    num_columns = config_data['num_columns']
    for column in num_columns:
        # Create a contingency table
        crosstab = pd.crosstab(data_train_binned[column + "_bin"],
                               data_train_binned[response_variable],
                               margins = True)

        # Append to the list
        crosstab_num.append(crosstab)

    # iterate over categorical columns
    crosstab_cat = []
    cat_columns = config_data['cat_columns']
    for column in cat_columns:
        # Create a contingency table
        crosstab = pd.crosstab(data_train_binned[column],
                               data_train_binned[response_variable],
                               margins = True)

        # Append to the list
        crosstab_cat.append(crosstab)

    # Put all two in a crosstab_list
    crosstab_list = crosstab_num + crosstab_cat

    # Validate the crosstab_list
    print('number of num bin : ', [bin.shape for bin in crosstab_num])
    print('number of cat bin : ', [bin.shape for bin in crosstab_cat])

    # Dump the result
    utils.pickle_dump(crosstab_list, config_data['crosstab_list_path'])

    return crosstab_list

In [67]:
# Check the function
crosstab_list = create_crosstab_list()
crosstab_list[0]

number of num bin :  [(5, 3), (5, 3), (6, 3), (5, 3), (6, 3), (5, 3), (5, 3)]
number of cat bin :  [(5, 3), (7, 3), (3, 3)]

Status              0     1    All
Age_bin
(19.999, 23.0]   4671  1469   6140
(23.0, 26.0]     5007  1361   6368
(26.0, 30.0]     3856  1026   4882
(30.0, 144.0]    4297  1119   5416
All             17831  4975  22806

In [69]:
crosstab_list[9]

Status       0     1    All
Default
N        15302  3456  18758
Y         2529  1519   4048
All      17831  4975  22806

In [70]:
def WOE_and_IV():
    """Get the WoE and IV"""
    # Load the crosstab list
    crosstab_list = utils.pickle_load(config_data['crosstab_list_path'])

    # Create intial storage for WoE and IV
    WOE_list, IV_list = [], []

    # Perform the calculation for all crosstab list
    for crosstab in crosstab_list:
        # Calculate the WoE and IV
        crosstab['p_good'] = crosstab[0]/crosstab[0]['All']
        crosstab['p_bad'] = crosstab[1]/crosstab[1]['All']
        crosstab['WOE'] = np.log(crosstab['p_good']/crosstab['p_bad'])
        crosstab['contribution'] = (crosstab['p_good']-crosstab['p_bad'])*crosstab['WOE']
        IV = crosstab['contribution'][:-1].sum()

        # Append to list
        WOE_list.append(crosstab)

        add_IV = {'Characteristic': crosstab.index.name,
                'Information Value': IV}
        IV_list.append(add_IV)

    # Create WOE Table
    # Create initial table to summarize the WOE values
    WOE_table = pd.DataFrame({'Characteristic': [],
                                'Attribute': [],
                                'WOE': []})
    for i in range(len(crosstab_list)):
        #Define crosstab and reset index
        crosstab = crosstab_list[i].reset_index()

        # Save the characteristic name
        char_name = crosstab.columns[0]

        # Only use two columns (Attribute name and its WOE value)
        # Drop the last row (average/total WOE)
        crosstab = crosstab.iloc[:-1, [0,-2]]
        crosstab.columns = ['Attribute', 'WOE']

        # Add the characteristic name in a column
        crosstab['Characteristic'] = char_name

        WOE_table = pd.concat((WOE_table, crosstab),
                                axis = 0)

        # Recorder the column
        WOE_table.columns = ['Characteristic',
                            'Attribute',
                            'WOE']

    # Create IV Table
    # Create the initial table for IV
    IV_table = pd.DataFrame({'Characteristic': [],
                            'Information Value' :[]})
    IV_table = pd.DataFrame(IV_list)

    # Define the predictive power of each characteristic
    strength = []

    # Assign the rule of thumb regarding IV
    for iv in IV_table['Information Value']:
        if iv < 0.02:
            strength.append('Unpredictive')
        elif iv >= 0.02 and iv < 0.1:
            strength.append('Weak')
        elif iv >= 0.1 and iv < 0.3:
            strength.append('Medium')
        else:
            strength.append('Strong')

    # Assign the strenght to each characteristic
    IV_table = IV_table.assign(Strength = strength)

    # Sort the table by the IV values
    IV_table = IV_table.sort_values(by='Information Value')

    # Validate
    print('WOE table shape : ', WOE_table.shape)
    print('IV table shape : ', IV_table.shape)

    # Dump data
    utils.pickle_dump(WOE_table, config_data['WOE_table_path'])
    utils.pickle_dump(IV_table, config_data['IV_table_path'])

    return WOE_table, IV_table

In [71]:
# Check the function
WOE_table, IV_table = WOE_and_IV()

WOE table shape :  (42, 3)
IV table shape :  (10, 3)

In [72]:
WOE_table

       Characteristic             Attribute       WOE
0             Age_bin        (19.999, 23.0] -0.119722
1             Age_bin          (23.0, 26.0]  0.026104
2             Age_bin          (26.0, 30.0]  0.047449
3             Age_bin         (30.0, 144.0]  0.068969
0          Income_bin  (3999.999, 38524.75] -0.862418
1          Income_bin   (38524.75, 55000.0]  0.024109
2          Income_bin    (55000.0, 79635.0]  0.311180
3          Income_bin  (79635.0, 6000000.0]  1.026844
0      Emp_length_bin         (-0.001, 2.0] -0.284110
1      Emp_length_bin            (2.0, 4.0]  0.065751
2      Emp_length_bin            (4.0, 7.0]  0.195896
3      Emp_length_bin          (7.0, 123.0]  0.318867
4      Emp_length_bin               Missing -0.461058
0          Amount_bin     (499.999, 5000.0]  0.069698
1          Amount_bin      (5000.0, 8000.0]  0.340733
2          Amount_bin     (8000.0, 12250.0]  0.121353
3          Amount_bin    (12250.0, 35000.0] -0.419296
0            Rate_bin          (5.419, 7.9]  0.965882
1            Rate_bin          (7.9, 10.99]  0.454060
2            Rate_bin        (10.99, 13.47]  0.161476
3            Rate_bin        (13.47, 22.48] -1.028861
4            Rate_bin               Missing -0.005541
0  Percent_income_bin        (-0.001, 0.09]  0.743839
1  Percent_income_bin          (0.09, 0.15]  0.663435
2  Percent_income_bin          (0.15, 0.23]  0.184567
3  Percent_income_bin          (0.23, 0.83] -1.137536
0     Cred_length_bin          (1.999, 3.0] -0.070043
1     Cred_length_bin            (3.0, 4.0]  0.000751
2     Cred_length_bin            (4.0, 8.0]  0.087637
3     Cred_length_bin           (8.0, 30.0]  0.028436
0                Home              MORTGAGE  0.665394
1                Home                 OTHER -0.621106
2                Home                   OWN  1.289619
3                Home                  RENT -0.506161
0              Intent     DEBTCONSOLIDATION -0.323869
1              Intent             EDUCATION  0.281765
2              Intent       HOMEIMPROVEMENT -0.227074
3              Intent               MEDICAL -0.278307
4              Intent              PERSONAL  0.108485
5              Intent               VENTURE  0.456230
0             Default                     N  0.211359
1             Default                     Y -0.766741

In [73]:
IV_table

       Characteristic  Information Value      Strength
6     Cred_length_bin           0.003737  Unpredictive
0             Age_bin           0.005761  Unpredictive
2      Emp_length_bin           0.064186          Weak
3          Amount_bin           0.076986          Weak
8              Intent           0.088282          Weak
9             Default           0.159914        Medium
7                Home           0.386431        Strong
1          Income_bin           0.441132        Strong
4            Rate_bin           0.507604        Strong
5  Percent_income_bin           0.606650        Strong